#gitIgnore
token.txt
blog/node_modules/
blog/.git/

node_modules/
fruitsProject/node_modules/
todoList_server/node_modules/
blog-with-Database/node_modules/
wikiProject/node_modules/
gridSystem_ultrasonic/node_modules/
gridSystem_p5js_sensor/node_modules/
arduino_to_nodejs/node_modules/
JSDom_practice/node_modules/
gridSystem_server_sensor/node_modules/
authentification_level_01/node_modules/
authentification_level_02/node_modules/
authentification_level_03/node_modules/
authentification_level_03_passport/node_modules/
authentification_level_06/node_modules/
authentification_level_07/node_modules/
anonymousSocialMedia/node_modules/

comfort_garden_ejs/node_modules/
comfort_garden_ejs copy/node_modules/

.env
authentification_level_01/.env
authentification_level_01/.env.development.local
authentification_level_01/.env.test.local
authentification_level_01/.env.production.local
authentification_level_01/.env.local